<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <form action="/" method="get">
        <label for="searchUser">Search User: </label>
        <input type="text" name="searchUser" id="searchUser">
        <button type="submit">Search</button>
    </form>
    <br>
    <form action="/deleteAll" method="post" onsubmit="return confirm('Are you sure ??')">
        <button style="color: red;">DELETE ALL DATA</button>
    </form>
    <ul>
        <% if (users) { %>
           <% users.forEach(user => { %>
                <li>Id: <%= user.id %> , Name: <%= user.username %> <a href="<%= user.id %>/update">Update</a> <form action="/<%= user.id %>/delete" method="post" onsubmit="return confirm('Are you sure you want to delete this user?')"><button type="submit">Delete</button></form></li>
           <% }) %>
        <% } %>
    </ul>
    <a href="/create">Click to create new user</a>
</body>
</html>